.contact {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 80px 20px 40px;
  font-family: 'Poppins', sans-serif;
}

.contact-overlay {
  background-color: rgba(0,0,0,0.5); 
  padding: 50px 20px;
  border-radius: 15px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-section {
  flex: 1 1 300px;
}

.contact-section h3 {
  font-size: 3.2rem;
  margin-bottom: 15px;
  color: #92D050;
  border-bottom: 2px solid #92D050;
  display: inline-block;
  padding-bottom: 5px;
}

.contact-section p {
  margin: 12px 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.contact-section a {
  color: #fff;
  margin-left: 8px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-section a:hover {
  color: #92D050;
  height:20px;
  width: 10px;
}

.icon {
  color: #92D050;
  min-width: 40px;
}
.text-size{
    font-size: 80px;
}

.contact-bottom {
  text-align: center;
  margin-top: 40px;
  /* font-size: 1.9rem; */
  font-size: 20px;
  color: #ccc;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.delay {
  animation-delay: 0.4s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-section p {
    justify-content: center;
  }
}
