.services-container {
  padding: 50px 20px;
  background: #f8f9fa;
}

.services-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  background: linear-gradient(#92D050, #00063d);
  background-clip: text;          /* Standard property */
  -webkit-background-clip: text;  /* Chrome, Safari */
  color: transparent;
  -webkit-text-fill-color: transparent;
} 

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.service-card {
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.07);
  transition: 0.3s;
  border-left: 5px solid transparent;
}

.service-card:hover {
  transform: translateY(-6px);
  border-left: 5px solid #92D050;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.service-icon {
  font-size: 25px;
  color: #92D050;
  margin-bottom: 10px;
}

.main-content {
  padding-top: 70px; 
}


@media (max-width: 768px) {
  .main-content {
    padding-top: 60px; 
  }
}
@media (max-width: 768px) {
  .services-title {
    font-size: 1.8rem;
  }

  .service-card {
    padding: 15px;
  }
}
