.whatwedo-section {
  padding: 40px 8%;
  background: linear-gradient(to right, #f8fafc, #eef2ff);
  /* background-image: url("C:\Users\sekarjayasree\OneDrive\Desktop\NS_website1\NorthernSkyWebsite-develop\src\assets\fencing_solar\solarbg.png"); */
}

.section-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 30px;
  color: black;
  font-weight: 660;
}   

.filter-buttons {
  text-align: center;
  margin-bottom: 40px;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #e2e8f0;
  font-weight: 600;
}

.filter-buttons .active {
  background: #2563eb;
  color: #fff;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.project-card {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
}

.project-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.img-box img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.card-content {
  padding: 18px;
}

.card-content h3 {
  font-size: 18px;
}

.badge {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
}

.completed {
  text-align:center;
  height: 40px;
  width: 100px;
  color: black;
  padding: 7px;
  border-radius: 10px;
  background: #dcfce7;
  color: #0a3018;
}

.ongoing {
  height: 40px;
  width: 100px;
  color: black;
  padding: 7px;
  border-radius: 10px;
  background: #fff7ed;
  color: #c03709;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  max-width: 400px;
  width: 90%;
}

.modal-card img {
  width: 100%;
  border-radius: 12px;
}

.main-content {
  padding-top: 70px; 
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 60px; 
  }
}
@media (max-width: 768px) {
  .whatwedo-section {
    padding: 30px 5%;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .filter-buttons button {
    margin: 6px 4px;
    padding: 8px 16px;
    font-size: 0.85rem;
  }

  .img-box img {
    height: 180px;
  }
}
